// SITE HEADER


.site-header {
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: #fff;
}


.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__logo-img {
  display: block;
  width: 139px;
  height: 20px;
  transition: all 0.3s ease;
}

.header__logo-img:hover {
  filter: drop-shadow(0 0.2rem 0.25rem rgb(182, 178, 178))
}

.header__logo-img:active {
  transform: scale(0.95);
}

// .header__navbar {}

.header__checkbtn {
  display: none;
  font-size: 30px;
  color: #2D314D;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.header__nav-input {
  display: none;
}

.header__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.header__item-line {
  display: block;
  width: 51px;
  height: 4px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  margin-top: 26px;
  margin-bottom: -31px;
  margin-left: -7px;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__item:hover .header__item-line {
  opacity: 1;
}

.header__item-line-cont {
  display: block;
  width: 51px;
  height: 4px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  margin-top: 26px;
  margin-bottom: -31px;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__item:hover .header__item-line-cont {
  opacity: 1;
}

.header__item~.header__item {
  margin-left: 30px;
}

.header__item-link {
  @include reset-link;
  color: $color-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  transition: all 0.2s ease;
}

.header__item-link:hover {
  color: #2D314D;
}

.header__item-link:active {
  color: red
}

.site-button {
  @include site-button;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  transition: all 0.3s ease;
}

.site-button:hover {
  opacity: 0.4;
}

.site-button:active {
  opacity: 1;
  color: #000;
}


@include breakpoint-down (768px) {

  .site-header__wrapper {
    margin-top: 22px;
  }

  .header__item-line {
    display: none;
  }

  .header__item-line-cont {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__item-link {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }

}


@include breakpoint-down (625px) {

  .site-header__wrapper {
    margin-top: 15px;
  }

  .header__checkbtn {
    display: block;
  }

  .header__navbar {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    transition: all 0.7s ease;
  }

  .header__list{
    position: absolute;
    flex-direction: column;
    width: 90%;
    top: 24px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    border-radius: 4px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 20px;
  }

  .header__item {
   margin-left: 30px;
    margin-bottom: 24px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__nav-input:checked ~  .header__navbar{
    height: 100vh;
  
  }

}